
* {
    padding: 0;
    margin: 0;
}

.svg-icon {
    width: 26px;
}

.account {
    width: 50px;
    border-radius: 50%;
}

button {
    background: none;
    border: none;
    border-radius: 20%;
}

button:hover {
    transform: scale(1.2);
    justify-self: left;
}
/* css reset */ 

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
}



/* header css rules start */
header {
    grid-area: 1 / 2;
    background-color: #fff;
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 10px;
}

.search {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    padding: 15px;
    gap: 15px;
}

.search > input {
    width: 100%;
    background-color: #e2e8f0;
    border-radius: 30px;
    padding: 5px;
    border: none;
}

/* search bar */ 

.upper-nameplate {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
    gap: 10%;
    align-items: center;
}

.upper-nameplate > .account {
    background-color: rgb(204, 204, 252);
}

/* upper nameplate */ 

header > .title {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    gap: 20px;
    padding: 15px;
}

header > .title > .account {
    background-color: rgb(204, 204, 252);
    width: 80px;
}

header > .title > div {
    display: grid;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding: 10px;
}

/* title css rules */ 

.utility-buttons {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
}

.utility-buttons > button {
    background-color: #1992d4;
    border-radius: 40px;
    width: 100px;
    height: 40px;
    color: white;
    font-weight: 1000;
    font-size: 14px;
}
 /* header css rules end */ 
 /* nav-bar start */ 
nav {
    grid-area: 1 / 1 / 3 / 2;
    background-color: #1992d4;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.nav-bar > .title {
    grid-area: 1 / 1;
    color: white;
    display: grid;
    align-items: center;
    font-size: 22px;
}

.nav-bar > .title > h2 > .svg-icon {
    width: 40px;
}

.nav-bar > .title > h2 {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.group-one {
    display: grid;
    gap: 10px;
    padding: 10px;
}

.group-two {
    display: grid;
    gap: 10px;
    padding: 10px;
}

.group-one > button, 
.group-two > button {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.group-one > button > span, 
.group-two > button > span {
    font-size: 16px;
    font-weight: 600;
    color: white;
}

/* nav-bar end */ 
/* main content container start */ 
.main {
    grid-area: 2 / 2;
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    padding: 10px;
}
/* main container */ 
.card {
    background-color: white;
}
/* style for all cards */ 
.projects {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.container.project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    height: 100%;
}

/* main project container */ 

.card.project {
    border-left: 10px solid orange;
    border-radius: 10px;
    padding: 15px;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 5px;
}

.card.project > .buttons {
    display: flex;
    justify-content: right;
    gap: 25px;
}

.card.project > p {
    color: rgb(68, 68, 68);
    font-size: 20px;
}

/* style rules for project cards */ 


.announcements {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.container.announcement {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
}

.card.alert {
    margin: 0 30px;
}

.card.alert:nth-last-child(2) {
    border-bottom: 2px solid #90909050;
    border-top: 2px solid #90909050;
}

.card.alert > p {
    color: rgb(68, 68, 68);
}

/* style rules for announcements */ 

.trending {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    padding: 10px;
}

.container.trend {
    display: grid;
    gap: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.card.trend {
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 20px;
}

/* style for all trend cards */ 

.card.trend > div > p:nth-child(2) {
    color: rgb(68, 68, 68);
}

.card.trend > div > p, 
.card.trend > div > h3 {
    padding: 3px;
}

/* font style for trend cards */ 

.card.trend:nth-child(1) > .account.small {
    background-color: rgb(179, 233, 165);
}

.card.trend:nth-child(2) > .account.small {
    background-color: rgb(241, 199, 199);
}

.card.trend:nth-child(3) > .account.small {
    background-color: rgb(204, 204, 252);
}

.card.trend:nth-child(4) > .account.small {
    background-color: rgb(125, 114, 173);
}

/* trending accounts icon color */ 


/* main content container end */ 

